
.sensor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.waterlevel-container {
  width: 200px;
  height: 300px;
  position: relative;
}
.single-chart-container{
  position: relative;
  transform: scale(0.8);
}
.chart-container{
  display: flex;
  flex-wrap: wrap;
  width:inherit;
}

.dial-container{
  transform: rotate(135deg);
 width: 300px;
 height: auto;
}
.outer-container{
  width: 300px;
  height: 300px;
}
.larger-outer-container{
  width: 600px;
  height: 300px;
}